<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Exercise</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #D8C4B6;
        }

        tr:nth-child(even) {
            background-color: #F5EFE7;
        }

        .search-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }

        .calories-filter {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
        }

        .search-container-left {
            margin-right: auto;
        }

        .search-container-right {
            margin-left: auto;
        }
    </style>

    <script>
        $(document).ready(function() {
            // Function to filter the table based on calories per kg
            $("#calories-filter").change(function() {
                var filterOption = $(this).val();

                // Show all rows if filter option is "All"
                if (filterOption === "All") {
                    $("tbody tr").show();
                } else if (filterOption === "0to0.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 0.00000 && calories <= 0.50000;
                    }).show();
                } else if (filterOption === "0.5to1") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 0.50000 && calories <= 1.00000;
                    }).show();
                } else if (filterOption === "1to1.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 1.00000 && calories <= 1.50000;
                    }).show();
                } else if (filterOption === "1.5to2") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 1.50000 && calories <= 2.00000;
                    }).show();
                } else if (filterOption === "2to2.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 2.00000 && calories <= 2.50000;
                    }).show();
                } else if (filterOption === "2.5to3") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 2.50000 && calories <= 3.00000;
                    }).show();
                } else if (filterOption === "moreThan3") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function() {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 3.00000;
                    }).show();
                }else {
                    // Hide rows that don't match the selected filter option
                    $("tbody tr").hide();
                    $("tbody td:contains('" + filterOption + "')").closest("tr").show();
                }
            });

            // Function to search the table based on the input value
            $("#search-input").on("keyup", function() {
                var searchText = $(this).val().toLowerCase();

                // Filter rows based on search text
                $("tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
                });
            });
        });
    </script>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="FitmATE Logo">
    </div>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/food">Food</a>
            <a href="/exercise">Exercise</a>
            <a href="/goal">Goal</a>
            <div class="dropdown">
                <button class="dropbtn">Records
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/records_goals">Goals</a>
                    <a href="/dailyplan">Daily Plan</a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> {{ user['name'] }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-right">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>    
    </div>
    
    <h1>Welcome to the Exercise Page!</h1>

    <div class="search-container">
        <div class="search-container-left">
            <input type="text" id="search-input" class="search-input" placeholder="Search...">
        </div>
        <div class="search-container-right">
            <select id="calories-filter" class="calories-filter">
                <option value="All">All</option>
                <option value="0to0.5">0 < Calories <= 0.5</option>
                <option value="0.5to1">0.5 < Calories <= 1</option>
                <option value="1to1.5">1 < Calories <= 1.5</option>
                <option value="1.5to2">1.5 < Calories <= 2</option>
                <option value="2to2.5">2 < Calories <= 2.5</option>
                <option value="2.5to3">2.5 < Calories <= 3</option>
                <option value="moreThan3">Calories > 3</option>
                <option value="Cycling">Cycling</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="training">Training</option>
                <option value="Weight lifting">Weight lifting</option>
                <option value="exercise">Exercise</option>
                <option value="machine">Machine</option>
                <option value="Aerobics">Aerobics</option>
                <option value="Ballroom dancing">Ballroom dancing</option>
                <option value="Running">Running</option>
                <option value="Track and field">Track and field</option>
                <option value="Archery">Archery</option>
                <option value="Badminton">Badminton</option>
                <option value="Basketball">Basketball</option>
                <option value="Billiards">Billiards</option>
                <option value="Bowling">Bowling</option>
                <option value="Football">Football</option>
                <option value="Frisbee">Frisbee</option>
                <option value="Golf">Golf</option>
                <option value="Handball">Handball</option>
                <option value="Hockey">Hockey</option>
                <option value="Horse Riding">Horse Riding</option>
                <option value="Martial arts">Martial Arts</option>
            </select>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Activity, Exercise or Sport (1 hour)</th>
                <th>130 lb</th>
                <th>155 lb</th>
                <th>180 lb</th>
                <th>205 lb</th>
                <th>Calories per kg</th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercise_data %}
            <tr data-calories="{{ exercise['Calories per kg'] }}">
                <td>{{ exercise['Activity'] }}</td>
                <td>{{ exercise['130 lb'] }}</td>
                <td>{{ exercise['155 lb'] }}</td>
                <td>{{ exercise['180 lb'] }}</td>
                <td>{{ exercise['205 lb'] }}</td>
                <td>{{ exercise['Calories per kg'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
