<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Exercise</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #D8C4B6;
        }

        tr:nth-child(even) {
            background-color: #F5EFE7;
        }

        .search-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }

        .calories-filter {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
        }

        .search-container-left {
            margin-right: auto;
        }

        .search-container-right {
            margin-left: auto;
        }

        #calories-th {
            text-decoration: underline;
            cursor: pointer;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
        }

        /* Style the modal content */
        .modal-content {
            background-color: #f4f4f4;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 20%;
        }

        /* Close button on the modal */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .button, .add-exercise {
            padding: 5px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            width: 100px;
            background-color: #f26c47;
            color: white;
            cursor: pointer;
        }

        .add-exercise {
            width: 160px;
        }

        #editBtn {
            background-color: #F2BE22;
        }

        #delBtn {
            background-color: #F24C3D;
        }
    </style>

    <script>
        $(document).ready(function () {
            // Function to filter the table based on calories per kg
            $("#calories-filter").change(function () {
                var filterOption = $(this).val();

                // Show all rows if filter option is "All"
                if (filterOption === "All") {
                    $("tbody tr").show();
                } else if (filterOption === "0to0.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 0.00000 && calories <= 0.50000;
                    }).show();
                } else if (filterOption === "0.5to1") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 0.50000 && calories <= 1.00000;
                    }).show();
                } else if (filterOption === "1to1.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 1.00000 && calories <= 1.50000;
                    }).show();
                } else if (filterOption === "1.5to2") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 1.50000 && calories <= 2.00000;
                    }).show();
                } else if (filterOption === "2to2.5") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 2.00000 && calories <= 2.50000;
                    }).show();
                } else if (filterOption === "2.5to3") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 2.50000 && calories <= 3.00000;
                    }).show();
                } else if (filterOption === "moreThan3") {
                    // Hide rows with calories per kg greater than 1.00000
                    $("tbody tr").hide();
                    $("tbody tr").filter(function () {
                        var calories = parseFloat($(this).attr("data-calories"));
                        return calories > 3.00000;
                    }).show();
                } else {
                    // Hide rows that don't match the selected filter option
                    $("tbody tr").hide();
                    $("tbody td:contains('" + filterOption + "')").closest("tr").show();
                }
            });

            // Function to search the table based on the input value
            $("#search-input").on("keyup", function () {
                var searchText = $(this).val().toLowerCase();

                // Filter rows based on search text
                $("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(searchText) > -1)
                });
            });

            // Sort the table based on the "Calories per kg" column when header is clicked
            var ascending = true; // Flag to keep track of sorting order
            $("#calories-th").click(function () {
                var rows = $("tbody tr").get();

                rows.sort(function (a, b) {
                    var aValue = parseFloat($(a).attr("data-calories"));
                    var bValue = parseFloat($(b).attr("data-calories"));

                    if (ascending) {
                        return aValue - bValue;
                    } else {
                        return bValue - aValue;
                    }
                });

                // Clear the existing table and add the sorted rows back
                $("tbody").empty();
                $.each(rows, function (index, row) {
                    $("tbody").append(row);
                });

                // Toggle the sorting direction
                ascending = !ascending;
            });
        });
        // Function to open the exercise form popup
        function openExerciseForm() {
            $("#exerciseFormModal").css("display", "block");
        }

        // Function to close the exercise form popup
        function closeExerciseForm() {
            $("#exerciseFormModal").css("display", "none");
        }
        function openExerciseUpdateForm(activity, lb130, lb155, lb180, lb205, caloriesPerKg) {
            $("#exerciseActivityUp").val(activity);
            $("#exerciseActivityU").val(activity);
            $("#exercise130lbU").val(lb130);
            $("#exercise155lbU").val(lb155);
            $("#exercise180lbU").val(lb180);
            $("#exercise205lbU").val(lb205);
            $("#exerciseCaloriesPerKgU").val(caloriesPerKg);
            $("#exerciseUpdateFormModal").css("display", "block");
        }

        function closeExerciseUpdateForm() {
            $("#exerciseUpdateFormModal").css("display", "none");
        }

        function deleteExerciseItem(exerciseActivity) {
            // Confirm with the user before proceeding with the deletion
            if (confirm("Are you sure you want to delete this exercise item?")) {
                // Make an AJAX POST request to the server
                $.ajax({
                    type: "POST",
                    url: "/delete_exercise_item",
                    data: { exerciseActivityU: exerciseActivity },
                    success: function (response) {
                        // If the deletion is successful, reload the page to update the table
                        location.reload();
                    },
                    error: function (error) {
                        // If there's an error, show an alert with the error message
                        alert("Error deleting exercise item: " + error.responseText);
                    }
                });
            }
            // Print the value of exerciseActivity to the console
            console.log("Exercise activity:", exerciseActivity);
        }


        // Function to scroll back to the top of the page
        function scrollToTop() {
            $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        // Show the scroll-to-top button when scrolling down
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $(".scroll-to-top").fadeIn();
            } else {
                $(".scroll-to-top").fadeOut();
            }
        });
    </script>
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="FitmATE Logo">
    </div>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/food">Food</a>
            <a href="/exercise">Exercise</a>
            <a href="/goal">Goal</a>
            <div class="dropdown">
                <button class="dropbtn">Records
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/records_goals">Goals</a>
                    <a href="/dailyplan">Daily Plan</a>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> {{ user['name'] }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content dropdown-right">
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="scroll-to-top" onclick="scrollToTop()">
        <i class="fa fa-arrow-up"></i>
    </div>

    <h1>Welcome to the Exercise Page!</h1>

    <div class="search-container">
        <div class="search-container-left">
            <input type="text" id="search-input" class="search-input" placeholder="Search...">
            <button class="add-exercise" onclick="openExerciseForm()">Add Exercise</button>
        </div>
        <div class="search-container-right">
            <select id="calories-filter" class="calories-filter">
                <option value="All">All</option>
                <option value="0to0.5">0 < Calories <=0.5</option>
                <option value="0.5to1">0.5 < Calories <=1</option>
                <option value="1to1.5">1 < Calories <=1.5</option>
                <option value="1.5to2">1.5 < Calories <=2</option>
                <option value="2to2.5">2 < Calories <=2.5</option>
                <option value="2.5to3">2.5 < Calories <=3</option>
                <option value="moreThan3">Calories > 3</option>
                <option value="Cycling">Cycling</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="training">Training</option>
                <option value="Weight lifting">Weight lifting</option>
                <option value="exercise">Exercise</option>
                <option value="machine">Machine</option>
                <option value="Aerobics">Aerobics</option>
                <option value="Ballroom dancing">Ballroom dancing</option>
                <option value="Running">Running</option>
                <option value="Track and field">Track and field</option>
                <option value="Archery">Archery</option>
                <option value="Badminton">Badminton</option>
                <option value="Basketball">Basketball</option>
                <option value="Billiards">Billiards</option>
                <option value="Bowling">Bowling</option>
                <option value="Football">Football</option>
                <option value="Frisbee">Frisbee</option>
                <option value="Golf">Golf</option>
                <option value="Handball">Handball</option>
                <option value="Hockey">Hockey</option>
                <option value="Horse Riding">Horse Riding</option>
                <option value="Martial arts">Martial Arts</option>
            </select>
        </div>
    </div>
    <div id="exerciseFormModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeExerciseForm()">&times;</span>
            <h2>Add Exercise</h2>
            <br>
            <form id="exerciseForm" action="/add_exercise_item" method="post">
                <label for="exerciseActivity">Activity:</label>
                <input type="text" id="exerciseActivity" name="exerciseActivity" required>
                <br><br>
                <label for="exerciseCalories130">Calories (130 lb):</label>
                <input type="text" id="exerciseCalories130" name="exerciseCalories130" required>
                <br><br>
                <label for="exerciseCalories155">Calories (155 lb):</label>
                <input type="text" id="exerciseCalories155" name="exerciseCalories155" required>
                <br><br>
                <label for="exerciseCalories180">Calories (180 lb):</label>
                <input type="text" id="exerciseCalories180" name="exerciseCalories180" required>
                <br><br>
                <label for="exerciseCalories205">Calories (205 lb):</label>
                <input type="text" id="exerciseCalories205" name="exerciseCalories205" required>
                <br><br>
                <label for="exerciseCaloriesPerKg">Calories per kg:</label>
                <input type="text" id="exerciseCaloriesPerKg" name="exerciseCaloriesPerKg" required>
                <br><br>
                <input type="submit" value="Add">
            </form>
        </div>
    </div>
    <div id="exerciseUpdateFormModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="closeExerciseUpdateForm()">&times;</span>
            <h2>Update Exercise Item</h2>
            <br>
            <form id="exerciseUpdateForm" action="/update_exercise_item" method="post">
                <input type="hidden" id="exerciseActivityUp" name="exerciseActivityUp">
                <label for="exerciseActivityU">Activity:</label>
                <input type="text" id="exerciseActivityU" name="exerciseActivityU" disabled>
                <br><br>
                <label for="exercise130lbU">130 lb:</label>
                <input type="text" id="exercise130lbU" name="exercise130lbU" required>
                <br><br>
                <label for="exercise155lbU">155 lb:</label>
                <input type="text" id="exercise155lbU" name="exercise155lbU" required>
                <br><br>
                <label for="exercise180lbU">180 lb:</label>
                <input type="text" id="exercise180lbU" name="exercise180lbU" required>
                <br><br>
                <label for="exercise205lbU">205 lb:</label>
                <input type="text" id="exercise205lbU" name="exercise205lbU" required>
                <br><br>
                <label for="exerciseCaloriesPerKgU">Calories per kg:</label>
                <input type="text" id="exerciseCaloriesPerKgU" name="exerciseCaloriesPerKgU" required>
                <br><br>
                <button class="button" type="submit">Edit</button>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Activity, Exercise or Sport (1 hour)</th>
                <th>130 lb</th>
                <th>155 lb</th>
                <th>180 lb</th>
                <th>205 lb</th>
                <th id="calories-th">Calories per kg</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for exercise in exercise_data %}
            <tr data-calories="{{ exercise['Calories per kg'] }}">
                <td>{{ exercise['Activity'] }}</td>
                <td>{{ exercise['130 lb'] }}</td>
                <td>{{ exercise['155 lb'] }}</td>
                <td>{{ exercise['180 lb'] }}</td>
                <td>{{ exercise['205 lb'] }}</td>
                <td>{{ exercise['Calories per kg'] }}</td>
                <td>
                    <button id="editBtn" class="button"
                        onclick="openExerciseUpdateForm('{{ exercise['Activity'] }}', '{{ exercise['130 lb'] }}', '{{ exercise['155 lb'] }}', '{{ exercise['180 lb'] }}', '{{ exercise['205 lb'] }}', '{{ exercise['Calories per kg'] }}')"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    <button id="delBtn" class="button" onclick="deleteExerciseItem('{{ exercise['Activity'] }}')"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>