<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Home</title>
</head>
<body>
  <div class="logo">
  <img src="{{ url_for('static', filename='logo.png') }}" alt="FitmATE Logo">
</div>
  <div class="navbar">
    <div>
        <a href="/">Home</a>
        <a href="/food">Food</a>
        <a href="/exercise">Exercise</a>
        <a href="/goal">Goal</a>
        <div class="dropdown">
            <button class="dropbtn">Records
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/records_goals">Goals</a>
              <a href="/dailyplan">Daily Plan</a>
            </div>
        </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"> {{ user['name'] }}
          <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content dropdown-right">
          <a href="/profile">Profile</a>
          <a href="/logout">Logout</a>
      </div>
  </div>    
</div>
    <h1>Welcome to the Homepage!</h1>
</body>
</html>
