body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color:#edf1f3; */
  }

  .logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo img {
    width: 200px; /* Adjust the width as needed */
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13355b;
    overflow: hidden;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f26c47;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #13355b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f26c47;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .user-icon {
    margin-left: auto;
    margin-right: 20px;
}

h1 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
}

p {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"],
input[type="password"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


.dropdown-content.dropdown-right {
  right: 0;
  left: auto;
}