<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Goal</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="FitmATE Logo">
    </div>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/food">Food</a>
            <a href="/exercise">Exercise</a>
            <a href="/goal">Goal</a>
            <div class="dropdown">
                <button class="dropbtn">Records
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/records_goals">Goals</a>
                    <a href="/dailyplan">Daily Plan</a>
                </div>
            </div>
        </div>
        <a href="/profile" class="user-icon">User Icon</a>
    </div>

    <div class="container">
        <h1>Add Goal</h1>
        <form action="/submit_goal" method="POST">
            <label for="goal-name">Goal Name:</label>
            <input type="text" id="goal-name" name="goal-name" required>

            <label for="goal-type">Goal Type:</label>
            <select id="goal-type" name="goal-type" required>
                <option value="Bulk">Bulk</option>
                <option value="Weight gain">Weight gain</option>
            </select>

            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" required>

            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" required>

            <label for="target-weight">Target Weight:</label>
            <input type="number" id="target-weight" name="target-weight" required>

            <label for="target-calories">Target Calories per Day:</label>
            <input type="number" id="target-calories" name="target-calories" required>

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
