<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Food</title>
</head>
<body>
  <div class="logo">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="FitmATE Logo">
  </div>
  <div class="navbar">
    <div>
        <a href="/">Home</a>
        <a href="/food">Food</a>
        <a href="/exercise">Exercise</a>
        <a href="/goal">Goal</a>
        <div class="dropdown">
            <button class="dropbtn">Records
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/records_goals">Goals</a>
              <a href="/dailyplan">Daily Plan</a>
            </div>
        </div>
    </div>
    <a href="/profile" class="user-icon">User Icon</a>
</div>
    
    <h1>Welcome to the Food page!</h1>

<table>
    <thead>
        <tr>
            <th>Food</th>
            <th>Measure</th>
            <th>Grams</th>
            <th>Calories</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>SatFat</th>
            <th>Fiber</th>
            <th>Carbs</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for food in food_data %}
        <tr>
            <td>{{ food.Food }}</td>
            <td>{{ food.Measure }}</td>
            <td>{{ food.Grams }}</td>
            <td>{{ food.Calories }}</td>
            <td>{{ food.Protein }}</td>
            <td>{{ food.Fat }}</td>
            <td>{{ food.SatFat }}</td>
            <td>{{ food.Fiber }}</td>
            <td>{{ food.Carbs }}</td>
            <td>{{ food.Category }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
